body {
    background-color: cornsilk
}


.eyes {
    position: fixed;
    left: 600px;
    width: 350px;
    top: 250px;
}



@font-face {
    font-family: "satisfy";
    src: url("assets/Satisfy-Regular.ttf")
}

.typing-container {
    position: fixed;
    top: 150px;
    left: 650px;
}

font-family: "satisfy",
sans-serif;

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    position: fixed;
    top: 400px;
    left: 500px;
    font-size: 5em;
    font-family: "satisfy", sans-serif;
    color: #00195E;
    animation: animate 2.5s linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

@font-face {
    font-family: "indie";
    src: url("assets/indie.ttf")
}

.susanna {
    position: fixed;
    top: 200px;
    left: 200px;
    filter: blur(15px)
}

.susanna:hover {
    filter: blur(0);
}

.real {
    position: fixed;
    top: 200px;
    left: 550px;
    filter: blur(15px)
}

.real:hover {
    filter: blur(0);
}

.elders {
    position: fixed;
    top: 90px;
    left: 1050px;
    filter: blur(15px);
}

.elders:hover {
    filter: blur(0);
}

.anna {
    position: absolute;
    font-size: 15px;
    left: 5px padding-left: 1em;
    font-family: "indie", sans-serif;
}

.realtext {
    position: absolute;
    font-size: 15px;
    left: 5px padding-left: 1em;
    font-family: "indie", sans-serif;
}

.elderstext {
    position: absolute;
    font-size: 13px;
    font-family: "indie", sans-serif;

}

audio {
    display: none;
}

.demo {
    top: 100px;
}

/*page4*/

.azula {
    position: fixed;
    top: 100px;
    left: 100px;
    width: 200px;
}

.maleficent{
    position:fixed;
top: 350px;
right: 500px;
    width: 200px;
    left: 100px
}

.chihirodiv{
    position: fixed;
top: 600px;
    left: 100px;
    width: 200px;
}

.hide {
    position: fixed;
top: 600px;
left: 200px;
display:none;}

.chihirodiv:hover +.hide{
    display:block;
    color: red;
}
