body {
    background-color: cornsilk
}


.eyes {
    position: fixed;
    left: 600px;
    width: 350px;
    top: 250px;
}



@font-face {
    font-family: "satisfy";
    src: url("assets/Satisfy-Regular.ttf")
}

.typing-container {
    position: fixed;
    top: 200px;
    left: 750px;
}
h5{
position:fixed;
    top:200px;
    left: 690px;
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h6 {
    position: fixed;
    top: 100px;
    right: 40px;
    font-size: 5em;
    font-family: "satisfy", sans-serif;
    color: #00195E;
    animation: animate 2.5s linear infinite;
     white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
}

@keyframes animate {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 0;
    }
}

@font-face {
    font-family: "indie";
    src: url("assets/indie.ttf")
}

.susanna {
    position: fixed;
    top: 2500px;
    left: 350px;
    filter: blur(15px)
}

.susanna:hover {
    filter: blur(0);
}

.real {
    position: fixed;
    top: 200px;
    left: 700px;
    filter: blur(15px)
}

.real:hover {
    filter: blur(0);
}

.elders {
    position: fixed;
    top: 200px;
    left: 950px;
    filter: blur(15px);
}

.elders:hover {
    filter: blur(0);
}

.anna {
    position: fixed;
    font-size: 15px;
top: 400px;
    left: 100px;
    font-family: "indie", sans-serif;

}

.realtext {
    position: fixed;
    font-size: 13px;
    top: 500px;
    left: 100px;
    font-family: "indie", sans-serif;

}

.elderstext {
    position: fixed;
    font-size: 10px;
    top: 500px;
left: 100px;
    font-family: "indie", sans-serif;


}

audio {
    display: none;
}

.demo {
    top: 100px;
}

/*page4*/

.azuladiv {
    position: fixed;
    top: 100px;
    left: 100px;
    width: 200px;
}

.maleficentdiv {
    position: fixed;
    top: 350px;
    width: 200px;
    left: 100px;
}

.chihirodiv {
    position: fixed;
    top: 600px;
    left: 100px;
    width: 200px;
}

.hide {
    position: fixed;
    top: 650px;
    left: 350px;
    display: none;
    font-family: "kumbh",sans-serif;
    color: orangered;
}

.chihirodiv:hover + .hide {
    display: block;
    color: cornsilk;
}


.typeAction {
    visibility: hidden;
}

span {
    padding-left: 2px;
    animation: blink 700ms steps(1) infinite:;
    -webkit-animation: blink 700ms steps(1) infinite;
}

@keyframes blink {
    50% {
        color: transparent;
    }
}

@-webkit-keyframes blink {
    50% {
        color: transparent;
    }
}
}

@font-face {
    font-family: "architect";
    src: url("assets/architect.ttf")
}

h2 {
    position: fixed;
    top: 100px;
    left: 600px;
    color: white;
    font-family: "architect", sans-serif;


}

.hidetwo {
    position: fixed;
    top: 400px;
    left: 350px;
    display: none;
    font-family: "kumbh", sans-serif;
    font-size: 14px;
    
}


.maleficentdiv:hover + .hidetwo {

    display: block;
    color: cornsilk;
}

.hidethree {
    position: fixed;
    top: 150px;
    left: 350px;
    display: none;
    font-family: "kumbh", sans-serif;
    
}


.azuladiv:hover + .hidethree {
    display: block;
    color: cornsilk;
}

.three {
    background-color: white;

}

@font-face {
    font-family: "coming";
    src: url("assets/coming.ttf")
}

.start-text {
    position: fixed;
    color: yellowgreen;
    font-family: "coming", sans-serif;
    font-size: 30px;
    top: 200px;
    left: 100px;

}

#text-2 {
    color: red
}

#text-4 {
    color: red
}

#text-5 {
    color: red
}

#text-6 {
    color: red
}

#text-8 {
    color: red
}

#text-10 {
    color: red
}

#text-12 {
    color: red
}

#text-14 {
    color: red
}

#text-15 {
    color: red
}

#text-16 {
    color: red
}

#text-18 {
    color: red
}

#text-21 {
    color: red
}

@font-face {
    font-family: "kumbh";
    src: url("assets/kumbh.ttf")
}

h4{
    font-family: "indie",sans-serif;
position: fixed;
    left: 600px;
    font-size: 40px;
color:lightpink
    
}

.four{
background-image: url(assets/bedroom.gif);
background-size: cover;
}